body{
    background-color: rgb(69, 51, 51);

}
.Clock{
    position: absolute;
    color: aqua;
    top : 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    border: 10px ;
    border-style: double;
    border-radius: 12%;
    border-color: brown;
}

header{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Orbitron;
    letter-spacing: 7px;
    margin-top: 100px;
}

footer{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Orbitron;
    letter-spacing: 7px;
    margin-top: 100px;
}