body{
    font-family: 'Roboto', sans-serif;
    flex: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3ec2fa;
    margin: 0;
}

.title{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    background: #00a790;
    font-family: 'Courier New', Courier, monospace;
    height: 70px;
    border: solid rgb(25, 78, 84) 3px;
}

.calculator-container{
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px #000;
    background-color: aqua;
}

#result-display{
    padding: 10px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 2em;
    border-radius: 5px;
}
.input-buttons, input[type="button"]{
    display: grid;
    width: 100%;
    background-color: black;
    border: solid black 3px;
    font-style: bold;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    color: whitesmoke;
    border-radius: 5px;
}
 footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: #00ffdd;
    font-family: 'Courier New', Courier, monospace; 
}
